{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <h2 class="text-center">Choose your favorite Shop</h2>
    <div class="row">
      {% for i,j in result.items %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card" style="margin-bottom: 20px;">
        <div class="card-block">
         <figure>
            <img src="/static/shop.jpeg" alt="Trulli" style="width:100%;height:30%">
            <figcaption style="text-align: center;">{{i}}</figcaption>
         </figure>
         </div>


         <div style="margin:auto">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <style>
            .checked {
            color: orange;
                    }
          </style>
          <span class="fa fa-star checked">{{j.0}}</span>

         </div>


         {%with ravi=j.1%}
         <div style="margin:auto">
          
            <a href="{% url 'orders:place' ravi%}" class="btn btn-success">Checkout</a>
          </div>
          {%endwith%}

        
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}